@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    .light {
        background: $lightColor;
        transition: background 0.5s ease-in-out;
    }
    .dark {
        background: rgb(20, 20, 20);
        color: $lightColor;
        transition: background 0.5s ease-in-out;
    }
}

.container {
    width: 70%;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.btn {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 600;
    background-color: $orangeColor;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    &:hover {
        color: $lightColor;
    }
}
section {
    margin-top: 70px;
}
.section-intro {
    text-align: center;
    padding-bottom: 70px;
    h3 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.1rem;
        font-weight: 400;
    }
}
